.DS_Store

app/vendor/*

runtime/*
!runtime/.htaccess
!runtime/index.html

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project


Dashboard
User Management
Approve
Groups
Forum
Announcement
Logs
System Settings